body{
    background-color: darkblue;
 margin-left: 20px;
text-align: center;
}

.card{
    
    background-color: black;
  color: aliceblue;
   
}

input{
   text-align: center;
}

button{
    margin: 10px;
}